.CountryCard{
    width: 100%;
    height: 50vh;
    background: var(--color-secondary);
    box-shadow: 4px 4px 10px var(--color-accent);
}

.CountryCard_flag{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.CountryCard_text_section{
    padding:1rem;
    color: var(--color-text);
}

.CountryCard_title{
    font-size: 1.5rem;
    margin:0;
}

.CountryCard_info{
    font-size: 1rem;
    margin:0;
}