.Searchbar{
    padding: 0.8rem 2rem;
    background: var(--color-secondary);
    box-shadow: 4px 4px 10px -2px var(--color-accent);
    border-radius: 0.3rem;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Searchbar_search_btn{
    height: 1.3rem;
    margin-right: 1rem;
}
.Searchbar_input{
    background: var(--color-secondary);
    color: var(--color-text);
    outline: none;
    border:none;
    text-decoration: none;
    min-width: 40vw;
}